<h4>
    <FaIcon @prefix="fal" @icon="university" />{{@model.institution}}</h4>
<p class="subheading">
    <FaIcon @prefix="fal" @icon="file-certificate" />{{@model.area}}, {{@model.studyType}}</p>
<Date class="subheading" @startDate={{@model.startDate}} @endDate={{@model.endDate}} />
<hr />