<div class="project-box">
  <h2>{{{@project.name}}}</h2>
  <ul class="ml-0">
    {{#each @project.labels as |label|}}
    <li class="project-tag">{{label}}</li>
    {{/each}}
  </ul>
  <p>{{{@project.description}}}</p>
  <div class="is-flex-direction-column is-flex">
    {{#if @project.repo}}
    <a class="project-link" href="{{@project.repo}}"><FaIcon @prefix="fab" @icon="github" />GitHub repository</a>
    {{/if}}
    {{#if @project.url}}
    <a class="project-link" href="{{@project.url}}"><FaIcon @prefix="fal" @icon="external-link-square-alt" />Preview</a>
    {{/if}}
  </div>
</div>
