<div class="resume-block-item">
  <h4>
    <FaIcon @prefix="fal" @icon="building" />
    <span>{{@model.company}}</span>
  </h4>
  <p class="subheading">
    <FaIcon @prefix="fal" @icon="user-ninja" />
    <span>{{@model.position}}</span>
  </p>
  <Date class="subheading mb-1" @startDate={{@model.startDate}} @endDate={{@model.endDate}} />
  <p>{{@model.summary}}</p>
</div>
