<section class="application-grid">
  <div class="application-grid-sidebar">
      <section class="person">
          <div class="control has-icons-left">
              <div class="select is-rounded is-small">
                  <select
                    id="locale"
                    aria-label="{{t 'actions.choose_language'}}"
                    {{on "change" (route-action "switchLocale")}}
                  >
                      <option selected={{this.isEN}} value="en-se">{{t 'locales.en-se'}}</option>
                      <option selected={{this.isPT}} value="pt-br">{{t 'locales.pt-br'}}</option>
                  </select>
              </div>
              <span class="icon is-left">
                  <FaIcon @prefix="fas" @icon="globe"/>
              </span>
          </div>

          <ProfileCard @person={{@model.basics}} />
          <SkillsBox as |skill|>
              {{#each @model.skills as |item|}}
              <skill.item @item={{item}} />
              {{/each}}
          </SkillsBox>
      </section>
  </div>
  <div class="application-grid-content">
    <nav class="mb-6">
      <LinkTo
        class="mr-5 button is-rounded"
        @route="index"
      >
        {{t 'main.resume'}}
      </LinkTo>
      <LinkTo
        class="button is-rounded"
        @route="projects"
      >
        {{t 'main.projects'}}
      </LinkTo>
    </nav>
  {{outlet}}
  </div>
</section>
